section {
  padding: 50px 14%;
}

.global-box {
  flex-wrap: wrap;
  justify-content: center;
}

.global-item .text {
  left: -10%;
}

.global-item .text p {
  width: 80%;
}

@media (max-width: 1100px) {
  .header-background p {
    width: 50%;
  }
}

@media (max-width: 780px) {
  .header-background p {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .header-background p {
    width: 90%;
  }
}
